<div class="container">
  <div class="card">
    <div class="card-header">Customer Invoice Views</div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Customer name</th>
            <th scope="col">Transaction date</th>
            <th scope="col">Purchased product</th>
            <th scope="col">Product quantity</th>
            <th scope="col">Discount</th>
            <th scope="col">Total amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chamara</td>
            <td>2022-08-24</td>
            <td>Laptop</td>
            <td>High</td>
            <td>2000</td>
            <td>148000</td>
          </tr>
         
          
        </tbody>
      </table>
    </div>
  </div>

</div>