<div class="container">
    <div class="card">
        <div class="card-header">Customer Invoice</div>
        <div class="card-body">
            <form>
                <div class="form-group row mb-2">
                    <label for="inputCustomerName" class="col-sm-2 col-form-label">Customer name</label>
                    <div class="col-sm-10">
                        <input type="text" [(ngModel)]="customerName" [ngModelOptions]="{standalone: true}" class="form-control" id="inputCustomerName"
                            placeholder="Customer name">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="date" class="col-sm-2 col-form-label">Transaction date</label>
                    <div class="col-sm-10">
                        <input type="date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" class="form-control" id="date" placeholder="Transaction date">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="select" class="col-sm-2 col-form-label">Purchased product</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="select" (change)="handleSelectProduct($event)" [(ngModel)]="productId" [ngModelOptions]="{standalone: true}">
                            <option>-- select --</option>
                            <option value=1>Laptop</option>
                            <option value=2>Mouse</option>
                            <option value=3>KeyBoard</option>
                            <option value=4>Pendrive</option>
                            <option value=5>Lap Bag</option>
                        </select>
                    </div>
                </div>

                <fieldset class="form-group mb-2">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Product quantity</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" [ngModelOptions]="{standalone: true}" [(ngModel)]="productQualityId"
                                    value=1>
                                <label class="form-check-label" for="gridRadios1">
                                    High
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" [ngModelOptions]="{standalone: true}" [(ngModel)]="productQualityId"
                                    value=2>
                                <label class="form-check-label" for="gridRadios2">
                                    Medium
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" [ngModelOptions]="{standalone: true}" [(ngModel)]="productQualityId"
                                    value=3>
                                <label class="form-check-label" for="gridRadios3">
                                    Low
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row mb-2">
                    <label for="discount" class="col-sm-2 col-form-label">Discount</label>
                    <div class="col-sm-10">
                        <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="discount" class="form-control" id="discount" placeholder="Discount">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="amount" class="col-sm-2 col-form-label">Total amount</label>
                    <div class="col-sm-10">
                        <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="totalAmount" class="form-control" id="amount" placeholder="Total amount">
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <div class="col-sm-2">Checkbox</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                Example checkbox
                            </label>
                        </div>
                    </div>
                </div> -->
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" (click)="handleSubmit()" class="btn btn-primary">{{!id? "Submit": "Update" }}</button>
                        <button type="submit" (click)="clear()" class="btn btn-warning ml-2">Clear</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>